#partners{
   
    
    margin-top: 20px;
    margin-bottom: 20px;
    .partners-title{
        font-size: 18px; 
        font-weight: bold;
        margin-bottom: 35px;
        margin-top: 25px;
    
    }
    .partners-bg{
        background: #fff;
        border: 1px solid #d7dee6;
        
    }
    .partners-elements{
        margin-bottom: 35px;
        >ul{
            flex-wrap: wrap;
            >li{
                text-align: center;
                flex: 20%;
            }
        }
    }
}