#footer {
  padding-top: 65px;
  padding-bottom: 25px;
  background-color: rgb(37, 52, 68);
  overflow-y:hidden;
  .wrapper{
  height: 265px;
  .row{
    height: 100%;
  }
  } 
  .input-height{
    height: 100%;
  }
  .footer-input-elements{
    transform: translateX(50px);
    height: 100%;
    .title{
      margin-bottom: 24px;
    }
  }
  .footer-elements:last-child{
  transform: translateX(25px)
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 14px;
    //margin-bottom: 20px;
  }

  .content {
   
    >ul {
      >li {
        font-size: 14px;
        line-height: 2.14;

        >a {
          color: #ffffffa8;
          font-size: 14px;
          text-decoration: none;
          transition: 0.3s ease;

          &:hover {
            color: #d4312c;
          }
        }
      }
    }

    .content-input {
      input {
        height: 30px;
        color: #253444;
        font-weight: 400;
        font-size: 13px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 0;
        width: 182px;
        border-radius: 3px;
      }

      button {
        height: 40px;
        width: 110px;
        padding: 0 15.9px;
        line-height: 28px;
        border-radius: 3px;
        border: 0;
        background-color: #d4312c;
        color: white;
        margin-left: 17px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          background: #70b921;
        }
      }

    }

    .content-text {
      margin-top: 10px;
      margin-right: 100px;
      color: #ffffffb3;

      font-size: 13px;
    }

    .number {
      font-size: 20px;
      font-weight: bold;
      color: white;
      flex: 30%;
      position: relative;

      >i {
        // position: absolute;
        // left: -17px;
        display: inline-block;
        color: #d4312c;
      }
    }

    .place {
      flex: 80%;

      >a {
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 10px;
        transition: 0.3s ease;
        text-decoration: none;

        &:hover {
          background: rgba(255, 255, 255, .2);
          border: 0;
          border-radius: 3px;
        }
      }
    }
  }

  .contact-us {
    transform: translateX(30px);
    .content{
      margin-top: 18px;
      margin-bottom: 30px;
    }
    .title {
     // margin-top: 20px;
    }
    .title.stay-with-us{
      margin-bottom: 7px;
    }
    .social-networks {
      >ul {
        margin-bottom: 10px;
        >li {

          width: 38px;
          height: 38px;
          line-height: 41px;
          text-align: center;
          margin-right: 17px;
          border: 0;
          border-radius: 3px;
          cursor: pointer;
          background: white;
          transition: 0.3s ease;
          >img{
            width: 100%;
          }
          &:hover {
            background: #d4312c;

            >a {
              color: white;
            }

          }

          >a {
            color: rgb(37, 52, 68);
            font-weight: bold;
            text-decoration: none;

            >i {
              font-size: 23px;
            }
          }
        }
      }
      .cards{
        li{
          &:hover{
            background: white;
            .master-card{
              width: 43px;
    transform: translateY(-5px);
            }
          }
        }
      }

    }
    .cards{
      li{
        width: 80px !important;
        height: 35px !important;
        margin-right: 10px !important;
        img{
          width: 56px;
          transform: translateY(-11px);
        }

      }
    }

  }
  .copyright{
    color: #ffffffa8;
    font-size: 13px;
   // transform: translateY(-25px);
    font-weight:400;
  }
}
