#footer{
    padding: 50px 0px;
    background-color: rgb(37, 52, 68);
    .title{
        color: white;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .content{
        >ul {
          >li{
              padding: 7px 0px;
              >a{
                  color:#ffffffa8;
                  font-size: 14px;
                  text-decoration: none;
                  transition: 0.3s ease;
                  &:hover {
                      color:#d4312c;
                  }
              }
          }
        }
        .content-input{
            input{
                height: 30px;
                color: #253444;
                font-weight: 400;
                font-size: 13px;
                padding-left: 14px;
                padding-right: 14px;
                padding-top: 5px;
              
            }
            button{
                height: 40px;
                width: 110px;
                padding: 0 15.9px;
                line-height: 28px;
                border-radius: 3px;
                border: 0;
                background-color: #d4312c;
                color: white;
                margin-left:30px;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    background: #70b921;
                }
            }
            
        }
        .content-text{
            margin-top: 10px;
            margin-right: 100px;
            color: #ffffffb3;
            
        }
        .number {
            font-size: 20px;
            font-weight: bold;
            color: white;
            flex: 20%;
        }
        .place{
            flex: 80%;
            >a{
                color: white;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 10px;
                transition: 0.3s ease;
                text-decoration: none;
                &:hover{
                    background: rgba(255,255,255,.2);
                    border: 0;
                    border-radius: 3px;
                }
            }
        }
    }
    .contact-us{
        .title{
          margin-top: 20px;
        }
        .social-networks{
            >ul{
                >li{
                    
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    margin-right: 5px;
                    border: 0;
                    border-radius: 3px;
                    cursor: pointer;
                    background: white;
                    transition: 0.3s ease;
                    &:hover {
                        background: #d4312c;
                        >a{
                            color: white;
                        }
                       
                    }
                    >a{
                    color: rgb(37, 52, 68);
                    font-weight: bold;
                    text-decoration: none;
                    >i {
                        font-size: 20px;
                    }
                    }
                }
            }
           
        }

    }
}