#header {
  .header-top {
    //height: 39px;
    background: #253444;
    color: white;
    font-size: 13px;
   
    .top-elements {
      .elements-city {
        padding: 13px 0px;
        border-left: 1px solid rgba(255, 255, 255, .2);
        border-right: 1px solid rgba(255, 255, 255, .2);
        padding-left: 17px;
        width: 19%;
         
        .city {
          font-size: 12px;
          padding-top: 1px;
          color: #909ca8;
          transform: translateY(5px);
        }

        .city-dropdown {
          margin-left: 15px;
          width: 105px;
          position: relative;
          transform: translateY(5px);
          z-index: 6;
          .dropdown-top {
            .name {
              font-weight: bold;
              border-bottom: 1px dotted #fff;
              cursor: pointer;
              display: inline-block;
            }
          }

          .dropdown-bottom {
            max-height: 190px;
            overflow-y: auto;
            z-index: 5;
            top: 14px;
            display: none;
            background-color: white;
            font-size: 13px;
            color: black;
            width: 100%;
            left: 0px;
            position: absolute;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
            .dropdown-item {
              padding: 7px 0px;
              font-weight: bold;
              padding-left: 15px;
              transition: 0.3s ease;
              cursor: pointer;
              &:hover{
                background: #dedcdc;
              }
            }
          }
        }
      }

      .elements-about {
        padding-left: 5px;
        width: 49%;

        .navbar {
          >ul {
            transform: translateY(6px);
            >li {
              cursor: pointer;
              padding: 15px 11px;
              transition: 0.3s ease;
              border: 1px solid transparent;
              border-top-left-radius:3px;
              border-top-right-radius:3px;
              &:hover {
                background-color: #616e7c;
              }

              >a {
                font-weight: bold;
                color: white;
                text-decoration: none;
              }
            }
          }
        }
      }

      .elements-info {
        line-height: 35px;
        transform: translateY(10.5px);

        .phone-number {
          >i{
            width: 13px;
            height: 22px;
            color: #fff;
            transform: translateY(2px);
          }
          font-size: 20px;
          font-weight: bold;
        }

        .outlet {
          vertical-align: middle;
          padding: 0 15.9px;
          padding-left: 10px;
          background-color: #ff9f00;
          font-weight: 700;
          border: 0;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          font-size: 16px;
          height: 32px;
          line-height: 32px;
          text-transform: uppercase;
          transform: translateY(7px);
          margin: 0px 30px;
          transition: 0.3s ease;
          cursor: pointer;
           i{
             svg{
              fill: white;
              margin-top: 0px;
              margin-right: 10px;
              transform: translateY(3px);
             }
           }
          >a {
            text-decoration: none;
            color: white;
          }

          &:hover {
            background-color: #ef4b46;
          }

        }

        .language {
          line-height: 50px;

          >ul {
            >li {
              padding: 0px 10px;

              >a {
                >img {
                  width: 23px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-bottom {
    background: #d4312c;
    height: 70px;

    .bottom-content {
        overflow-y: hidden;
      .logo {
        padding-top: 8px;

        >svg {
          fill: white;
        }
      }
      .search-input {
        width: 80%;
        min-width: 200px;
        padding-top: 13px;
        position: relative;
        .search-selectbox{
          z-index: 5;
         position: absolute;
          height: 40px;
          width: 150px;
          top: 15px;
          outline: none;
          border: none;
          option{
            border:none;
            outline: none;
          }
        }
        >input{
            border: 1px solid #d7dee6;
            border-radius: 3px;
            height: 40px;
            
            padding-left: 156px;
            padding-right: 48px;
            position: relative;
            width: 100%;
            &::after{
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: '\f002';
              position: absolute;
              
              color: #d4312c;
              height: 100%;
              line-height: 39px;
              text-align: center;
              width: 48.5px;
              right: 20px;
              top: 20px;
            }
        }
        >i{
          position: absolute;
          right: -197px;
          font-size: 20px;
          color: #d4312c;
          top: 25px;
        }
        
      }
      .login{
          ul{
              li{
                color: #fff;
                text-decoration: none;
                border-left: 1px solid rgba(255,255,255,.2);
                border-right: 1px solid rgba(255,255,255,.2);
                height: 70px;
                padding: 0px 32px;
                display: inline-block;
                vertical-align: top;
                font-size: 13px;
                line-height: 65px;
                cursor: pointer;
                transition: .3s ease;
                &:hover{
                    background: #c42520;
                }
              }
              .bag-popup{
                >i{
                  font-size: 20px;
                  padding-right: 12px;
                  transform: translateY(2px);
                }
              }
          }
      }
    }
  }
}
