#header {
  .header-top {
    height: 39px;
    background: #253444;
    color: white;
    font-size: 13px;
    overflow-y: hidden;

    .top-elements {
      .elements-city {
        padding: 13px 0px;
        border-left: 1px solid rgba(255, 255, 255, .2);
        border-right: 1px solid rgba(255, 255, 255, .2);
        padding-left: 17px;
        width: 19%;

        .city {
          font-size: 12px;
          padding-top: 1px;
          color: #909ca8;
        }

        .city-dropdown {
          margin-left: 15px;
          width: 105px;
          position: relative;

          .dropdown-top {
            .name {
              font-weight: bold;
              border-bottom: 1px dotted #fff;
              cursor: pointer;
              display: inline-block;
            }
          }

          .dropdown-bottom {
            max-height: 190px;
            overflow-y: auto;
            top: 14px;
            display: none;
            background-color: white;
            font-size: 13px;
            color: black;
            width: 100%;
            left: 0px;
            position: absolute;

            .dropdown-item {
              padding: 7px 0px;
              font-weight: bold;
              padding-left: 15px;
              cursor: pointer;
            }
          }
        }
      }

      .elements-about {
        padding-left: 5px;
        width: 49%;

        .navbar {
          >ul {
            >li {
              padding: 13px 11px;
              transition: 0.3s ease;

              &:hover {
                background-color: #616e7c;
              }

              >a {
                font-weight: bold;
                color: white;
                text-decoration: none;
              }
            }
          }
        }
      }

      .elements-info {
        line-height: 35px;

        .phone-number {
          font-size: 20px;
          font-weight: bold;
        }

        .outlet {
          vertical-align: middle;
          padding: 0 15.9px;
          padding-left: 10px;
          background-color: #ff9f00;
          font-weight: 700;
          font-size: 16px;
          height: 32px;
          line-height: 32px;
          text-transform: uppercase;
          transform: translateY(7px);
          margin: 0px 30px;
          transition: 0.3s ease;
          cursor: pointer;

          >a {
            text-decoration: none;
            color: white;
          }

          &:hover {
            background-color: #ef4b46;
          }

        }

        .language {
          line-height: 50px;

          >ul {
            >li {
              padding: 0px 10px;

              >a {
                >img {
                  width: 23px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-bottom {
    background: #d4312c;
    height: 70px;

    .bottom-content {
        overflow-y: hidden;
      .logo {
        padding-top: 8px;

        >svg {
          fill: white;
        }
      }
      .search-input {
        width: 42%;
        min-width: 200px;
        padding-top: 13px;
        >input{
            border: 1px solid #d7dee6;
            border-radius: 3px;
            height: 40px;
            padding-left: 156px;
            padding-right: 48px;
            width: 100%

        }
        
      }
      .login{
          ul{
              li{
                color: #fff;
                text-decoration: none;
                border-left: 1px solid rgba(255,255,255,.2);
                border-right: 1px solid rgba(255,255,255,.2);
                height: 70px;
                padding: 0px 32px;
                display: inline-block;
                vertical-align: top;
                font-size: 13px;
                line-height: 65px;
                cursor: pointer;
                transition: .3s ease;
                &:hover{
                    background: #c42520;
                }
              }
          }
      }
    }
  }
}
